:root {
    --primary-font: "Cinzel", serif;
    --secondary-font: "Poppins", sans-serif;
    --backgroud-color: #e7d7c0;
}

body {
    background-color: var(--backgroud-color);
}

.hero {
    margin-top: 120px;
    text-align: center;
}

h1,
h2 {
    font-family: var(--primary-font);
    font-size: 90px;
    color: #9a280e;
    font-weight: bold;
} 

h3 {
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 50px;
}

.branding-button {
    border-radius: 6px;
    background-color: #9a280e;
    padding: 16px 20px; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--secondary-font);
}

.branding-button:hover {
    background-color: white;
    color: #9a280e;
}

.my-works-header {
    font-size: 40px;
    margin: 50px 0 0 70px;
    text-align: center;
}

.content-container h2 {
    font-size: 20px;
    text-align: center;
    font-family: var(--primary-font);
    margin-top: 20px;
    color: #8b210a;
}

.content-container p {
    font-size: 16px;
    color: black;
    text-align: center;
    font-family: var(--secondary-font);
    opacity: 0.6;
}

.learn-more-button {
    border-radius: 6px;
    background-color: #9a280e;
    padding: 10px 10px; 
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: var(--secondary-font);
    border: none;
}

.learn-more-button:hover {
    background-color: white;
    color: #9a280e;
    border: none;
}

.about-section {
    padding: 100px 60px;
}

.about-section h1 {
    font-size: 55px;
    margin-top: 25px;
}

.about-section h2 {
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: bold;
    opacity: 0.6;
    color: black;
}

.img {
    border: 2px solid black;
    box-shadow: 5px 5px 5px  grey;
    border-radius: 8px;
}

.contact-img {
    width: 70%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px  grey;
    border-radius: 8px;
}

.contact-content h2 {
    font-size: 22px;
    margin-top: 30px;
    font-family: var(--secondary-font);
}

.contact-content a {
    color: black;
    text-decoration: none;
}

.contact-content a:hover {
    color: #9a280e;
    text-decoration: underline;
}

.nav {
    margin-top: 20px;
    padding: 0;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    list-style: none;
    padding-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #9a280e;
    font-weight: bold;
    font-size: 20px;
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}

footer .email-link {
    text-decoration: none;
    color: black;
}

footer .social-links a {
    padding: 6px;
    margin: 0 10px;
    color: white;
    background-color: #9a280e;
    border-radius: 50%;
}

footer .social-links a:hover {
    background-color: white;
    color: #9a280e;
}



@media (max-width: 900px) {
    h1,
    h2 {
        font-size: 50px
    }

    h3 {
        font-size: 20px;
    }

    .container h4 {
        font-size: 35px
    }

    .container p {
        font-size: 17px;
    }

    .container {
        text-align: center;
    }

    .about-section h1 {
        font-size: 25x;
    }

    .about-section h2 {
        font-size: 20px;
    }

    .about-section {
        text-align: center;
        padding: 20px;
    }

    .my-works-header {
        font-size: 35px;
        margin-left: 0;
    }

    .img {
        margin-top: 20px;
    }

    .content-container p {
        margin-bottom: 30px;
    }

    .contact-img {
        width: 100%;
    }

    .learn-more-button {
        margin-bottom: 20px;
    }
}